/* 
Stuff that helped me make this website (not everything is included here... there's so much xD)

- Of course FCC and their example Personal Portfolio Webpage
- FCC community and forums :)
- FCC Responsive Web Design Certification tutorials

HTML
- Allowed using <a> as a block element in HTML5: https://stackoverflow.com/questions/6101711/html-what-is-the-correct-order-of-a-and-p-tags
- Using the target="_blank" attribute and value to open link in a new tab: https://www.freecodecamp.org/news/the-a-target-html-attribute-explained/
- Semantic HTML: https://www.internetingishard.com/html-and-css/semantic-html/

CSS:
- Position property: https://developer.mozilla.org/en-US/docs/Web/CSS/position
- Complex CSS selectors: https://learn.shayhowe.com/advanced-html-css/complex-selectors/
- Smooth shadows: https://shadows.brumm.af/
- Box shadow: https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow
- Animating box shadow: https://tobiasahlin.com/blog/how-to-animate-box-shadow/
- Auto CSS Grid expanding (repeat, minmax, and fit-content): https://developer.mozilla.org/en-US/docs/Web/CSS/repeat()
- transition: https://developer.mozilla.org/en-US/docs/Web/CSS/transition

Miscellaneous:
- GitHub logo: https://github.com/logos
- Smooth box shadows: https://shadows.brumm.af/
- WebAIM contrast checker: https://webaim.org/resources/contrastchecker/
- Google color picker
- Google fonts

*/
